/* COLOR PALETTE
https://coolors.co/ed6a5e-377771-bbb891-212738-2e2e3a
#94B49F
#CEE5D0
#FCF8E8
#ECB390
#343434
#282A3A
#393E46
#665A48

*/

/* Global Styles
----------------------------------- */
body {
    color: #393E46;
    margin: 0;
    padding: 0;
}
img {
    width: 300px;
}
a {
    color: #665A48;
    text-decoration: none;
}
a:hover {
    color: #ECB390;
}
h2{
    margin:0;
}
.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}


/* Profile
----------------------------------- */
header {
    background: #ECB390;
    color: #fcf9ee;
}



/* Projects
----------------------------------- */
.projects {
    background:#FCF8E8;
}
.projects a {
}
.projects .btn {
    color: #FCF8E8;
    background: #ECB390;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.projects .btn:hover {
    background:rgba(236, 179, 144, 80%);
}

/* Work Experience
----------------------------------- */
.work-experience {
    background: #CEE5D0;
    
}



/* Education
----------------------------------- */
.education {
    
}



/* Contact Info
----------------------------------- */
footer {
    background: #94B49F;
    color: #FCF8E8;
}