/* COLOR PALETTE
https://coolors.co/ed6a5e-377771-bbb891-212738-2e2e3a
#94B49F
#CEE5D0
#FCF8E8
#ECB390
#343434
#282A3A
#393E46
#665A48

*/

/* Global Styles
----------------------------------- */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
    color: #393E46;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.5;
}
img {
    width: 500px;
}
a {
    color: #665A48;
    text-decoration: none;
}
a:hover {
    color: #ECB390;
}
h1 {
    font-size: 100px;
    line-height: 1;
}
h2{
    font-size: 50px;
}
h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    margin: 0;
}
.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}

h3 {
    margin-bottom: 0;
}
.item-details h3 + p {
    font-style: italic;
}
.item-details h3 ~ p {
    margin:0;
}
/* Profile
----------------------------------- */
header {
    background: #ECB390;
    color: #fcf9ee;
    text-align: center;
}



/* Projects
----------------------------------- */
.projects {
    background:#FCF8E8;
}
.projects a {
}


.projects .btn {
    color: #FCF8E8;
    background: #ECB390;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.projects .btn:hover {
    background:rgba(236, 179, 144, 80%);
}

.projects .btn-web {
    color: #FCF8E8;
    background: rgba(148, 180, 159, .8);
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.projects .btn-web:hover {
    background:rgba(148, 180, 159, .6);
}
.project-item {
    overflow: hidden;
    border-bottom: 2px dashed #94B49F;
    padding: 25px 0;
}
.project-item img{
    float: left;
    margin-right: 20px;
}

.project-item h3 {
    margin-top: 0;
}

/* Work Experience
----------------------------------- */
.work-experience {
    background: #CEE5D0;
    
}

.job-summary-title {
    font-weight: 600;
}
.job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
}

/* Education
----------------------------------- */
.education {
    
}



/* Contact Info
----------------------------------- */
footer {
    background: #94B49F;
    color: #FCF8E8;
    text-align: center;
}
.contact-list{
    list-style: none;
    padding: 0;
    font-weight: 510;
    display: flex;
    justify-content: center;
}
.contact-list a {
    padding: 15px;
    display: inline-block;
}