<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body  style="font-family: sans-serif; font-size: 20px">
  <h1>Layouts</h1>
  <h1>Structuring a Page with CSS</h1>
  <ul>
    <li>A browser reads an HTML document from the top down.</li>
    <li>If there's no CSS intervention, that HTML will appear on the page as a bunch of stacked elements.</li>
  </ul>

  <h2>HTML Page Layouts</h2>
  <ul>
    <li><b>Tables</b>
      <ul>
        <li>
          Before CSS, people just used tables to create row and column-based layouts. This was terrible as that's not really what HTML table markup was meant for and it left us with a mess of unsemantic HTML, inaccessible layours, and code taht was very difficult to maintain.
        </li>
      </ul>
    </li>
    <li><b></b>CSS Floats, positioning, and clears
      <ul>
        <li>Not <i>really</i> a layout system, but it did give us the ability to manipulate where elements appeared on a page relative to their neighboring elements. </li>
      </ul>
    </li>
    <li><b>CSS frameworks and grids</b>
    <ul>
      <li></li>
    </ul>
    </li>
    <li>Carrie's calling all of these HTML layouts because they primarily rely on the actual structure of the HTML document to put content where you'd want it on the page.</li>
  <li><b>Flexbox</b>
  <ul>
    <li>Commonly Used Today</li>
    <li>A one-dimensional flexible box module that lets us distribute content evenly and flexibly to fill all the available space.</li>
  </ul>
</li>
<li><b>CSS Grid</b>
  <ul>
    <li>First true two-dimensional layout tool in CSS that lets us treat the viewport like a canvas.</li>
    <li>Radically changes how we design page layouts for the web.</li>
  </ul>
</li>
  </ul>
 
</body>
</html>