<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body  style="font-family: sans-serif; font-size: 20px">
  <h1>Layouts</h1>
  <h1>Structuring a Page with CSS</h1>
  <ul>
    <li>A browser reads an HTML document from the top down.</li>
    <li>If there's no CSS intervention, that HTML will appear on the page as a bunch of stacked elements.</li>
  </ul>

  <h2>HTML Page Layouts</h2>
  <ul>
    <li><b>Tables</b>
      <ul>
        <li>
          Before CSS, people just used tables to create row and column-based layouts. This was terrible as that's not really what HTML table markup was meant for and it left us with a mess of unsemantic HTML, inaccessible layours, and code taht was very difficult to maintain.
        </li>
      </ul>
    </li>
    <li><b></b>CSS Floats, positioning, and clears
      <ul>
        <li>Not <i>really</i> a layout system, but it did give us the ability to manipulate where elements appeared on a page relative to their neighboring elements. </li>
      </ul>
    </li>
    <li><b>CSS frameworks and grids</b>
    <ul>
      <li></li>
    </ul>
    </li>
    <li>Carrie's calling all of these HTML layouts because they primarily rely on the actual structure of the HTML document to put content where you'd want it on the page.</li>
  <li><b>Flexbox</b>
  <ul>
    <li>Commonly Used Today</li>
    <li>A one-dimensional flexible box module that lets us distribute content evenly and flexibly to fill all the available space.</li>
  </ul>
</li>
<li><b>CSS Grid</b>
  <ul>
    <li>First true two-dimensional layout tool in CSS that lets us treat the viewport like a canvas.</li>
    <li>Radically changes how we design page layouts for the web.</li>
  </ul>
</li>
  </ul>

  <h2>Flexbox (Flexible Box Layout Module)</h2>
  <ul>
    <li>
      A layout module for CSS that gives you an efficient way to arrange, organize, and size website elements 
        to create responsive designs.
      </li>
        <li>
          Lets us arrange items within a parent container and then get specific about how we want those items 
            to behave in relationship to one another.
          </li>
  </ul>
  <h2>Flexbox</h2>
  <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/">*CSS-Tricks: A complete Guide to Flexbox</a>
  <ul>
    <li><b>Flex container (parent)</b>
      <ul>
        <li>
          &lt; section class="container &gt; <br>
          &lt; /section &gt;
        </li>
      </ul>
    </li>
    <li><b>Flex items (children) (elements within the parent container)</b>
      <ul>
        <li>
          &lt; section class="container &gt; <br>
          &lt; /div &gt; <br>
          &lt; /div &gt; <br>
          &lt; /div &gt; <br>
          &lt; /section &gt;
        </li>
        <li>The flex items are placed along flex lines, which are either a vertical or horizontal axis.</li>
        <li>These items can be manipulated in layout, size, spaceing, and even change order along the flex line. <br>
            *** You can manipulate the order of flex children without touching the HTML structure.</li>
        <li>This allows you to take advantage of the available view port space and lets elements <br>
            arrange themselves automatically as the view port dictates.</li>
        <li>Alignment</li>
        <li>Direction</li>
        <li>Order</li>
        <li>Size</li>
      </ul>
    </li>
    <li>Flexbox is a one dimensional presentation model. This means that layouts are processed in one dimension 
        at a time, either as a row or a column.</li>
    <li>You can define how space is distributed between elements and how they should be aligned in relationship to the parent container.</li>
  </ul>

  <h2>Flexbox Benefits</h2>
  <ul>
    <li>Responsive (mobile-friendly)</li>
    <li>Ease of positioning child elements</li>
    <li>Change presentation order without altering HTML</li>
    <li>Control width and height based on parent element</li>
  </ul>

  <h3>Flexbox generally works best on small scale layouts.</h3>
 



</body>
</html>